<button type="button" class="btn btn-secondary center2" (click)='goHome()'>Go Back</button>
<p style="visibility: hidden"> p </p>
<div class="palePlate">
    <p style="visibility: hidden"> p </p>
    <form class="formplate">
        <div class="form-group">
          <label for="Item">Item</label>
          <input type="email" class="form-control"  aria-describedby="itemHelp" placeholder="Enter Item Name">
          <small id="itemHelp" class="form-text text-muted">Put the name of the item you want to buy</small>
        </div>

          <div class="form-group">
              <label for="exampleInputEmail1">Type</label>
              <select class="form-control" id="exampleFormControlSelect1">
                  <option>Fruit</option>
                  <option>Vegitable</option>
                  <option>Homegood</option>
                  <option>Automotive</option>
                  <option>Toys / Games</option>
                  <option>Sports</option>
                  <option>Electronics</option>
                  <option>Movies</option>
                  <option>Music</option>
                  <option>Furniture</option>
                  <option>Craft</option>

                </select>
            </div>
        <button type="submit" class="btn btn-primary center">Submit</button>
      </form>
      <p style="visibility: hidden"> p </p>
</div>
